.env

*.zip
*.sql
wp-content/debug.log
wp-content/cache

/wp-content/themes/vateko10/node_modules
/wp-content/themes/vateko10/vendor
/wp-content/themes/vateko10/public

/wp-content/themes/vateko10/public
/wp-content/themes/vateko10/.env
/wp-content/themes/vateko10/.budfiles
/wp-content/themes/vateko10/npm-debug.log
/wp-content/themes/vateko10/yarn-error.log
/wp-content/themes/vateko10/front/node_modules
/wp-content/themes/vateko10/front/.git
/wp-content/themes/vateko10/front/dev
/wp-content/themes/vateko10/front/prod

/wp-content/themes/vateko10/.vscode
/wp-content/themes/vateko10/.idea
/wp-content/themes/vateko10/front/.vscode
/wp-content/themes/vateko10/front/.idea
/wp-content/themes/vateko10/front/package-lock.json

/vendor/
/wp-content/ai1wm-backups

