:root{
	/* added by fgp */
	--has-fgp: initial;
	--parent-has-fgp: initial;
}
@charset "UTF-8";
* > *{
	/* added by fgp */
	--orig-margin-top: initial;
	--orig-margin-right: initial;
	--orig-margin-bottom: initial;
	--orig-margin-left: initial;
}
* {
	--fgp-margin-top: initial;
	--fgp-margin-left: initial;
	--orig-margin-top: 0px;
	--orig-margin-right: 0px;
	--orig-margin-bottom: 0px;
	--orig-margin-left: 0px;
	margin: var(--fgp-margin-top, var(--orig-margin-top)) var(--orig-margin-right) var(--orig-margin-bottom) var(--fgp-margin-left, var(--orig-margin-left));
	padding: 0;
	font: inherit;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
  cursor: default;
}

body {
  font-size: 100%;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  background: transparent;
}

*:focus, *:active, *:hover {
  outline: none;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

ol,
ul {
  list-style: none;
}

pre {
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

img.lazy {
  border: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button {
  overflow: visible;
  -webkit-appearance: button;
  cursor: pointer;
}

html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: none;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

button,
input,
select[multiple],
textarea {
  background-image: none;
}

input,
select,
textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input,
textarea {
  resize: none;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

[placeholder]:focus::-moz-placeholder {
  color: transparent;
}

[placeholder]:focus:-ms-input-placeholder {
  color: transparent;
}

[placeholder]:focus::-ms-input-placeholder {
  color: transparent;
}

[placeholder]:focus::placeholder {
  color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Libraries, which is used in current project. */
/* Libraries, which is used in current project. */
/* Some styles, which is used for correct sprite-generation, vars, mixins and etc */
/* Please, do not edit with file! */
/* This file can be overwritten by update-project! */
/* Mixins, which are specific for current project */
pseudo {
  position: relative;
}
pseudo:before, pseudo:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
}

/* Mixins and vars for sprite generation */
/* Scss for used fonts */
@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/hinted-subset-Inter-Regular.woff2") format("woff2"), url("../fonts/hinted-subset-Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: local("Inter SemiBold"), local("Inter-SemiBold"), url("../fonts/hinted-subset-Inter-SemiBold.woff2") format("woff2"), url("../fonts/hinted-subset-Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: local("Inter ExtraBold"), local("Inter-ExtraBold"), url("../fonts/hinted-subset-Inter-ExtraBold.woff2") format("woff2"), url("../fonts/hinted-subset-Inter-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Medium"), local("Inter-Medium"), url("../fonts/hinted-subset-Inter-Medium.woff2") format("woff2"), url("../fonts/hinted-subset-Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Bold"), local("Inter-Bold"), url("../fonts/hinted-subset-Inter-Bold.woff2") format("woff2"), url("../fonts/hinted-subset-Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Thin Regular"), local("MontserratThin-Regular"), url("../fonts/hinted-subset-MontserratThin-Regular.woff2") format("woff2"), url("../fonts/hinted-subset-MontserratThin-Regular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
/* Vars, which are specific for current project */
/* Styles for UI-elements */
.title {
  color: #121212;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1;
  text-transform: uppercase;
}
@media (min-width: 960px) {
  .title {
    font-size: calc(1.425rem + 2.1vw);
  }
}
@media (min-width: 960px) and (min-width: 1200px) {
  .title {
    font-size: 3rem;
  }
}
.title span {
  color: #44B273;
}
.title_sub {
  font-size: calc(1.325rem + 0.9vw);
  font-weight: 500;
  line-height: 1.2;
  text-transform: none;
}
@media (min-width: 1200px) {
  .title_sub {
    font-size: 2rem;
  }
}
@media (min-width: 640px) {
  .title_sub {
    font-size: calc(1.325rem + 0.9vw);
  }
}
@media (min-width: 640px) and (min-width: 1200px) {
  .title_sub {
    font-size: 2rem;
  }
}
.button > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}
.button > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}
.button{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}
.button {
	border: none;
	background-color: transparent;
	padding-right: 1.5625rem;
	padding-left: 1.5625rem;
	height: 5rem;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #44B273;
	color: #ffffff;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	border-radius: 0.9375rem;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}
@media (min-width: 960px) {
  .button {
    padding-right: 1.5625rem;
    padding-left: 1.5625rem;
    height: 5rem;
    font-size: 1.25rem;
  }
}
.button:hover {
  background-color: #40a76c;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.offscreen {
  height: 0.0625rem;
  width: 0.0625rem;
  overflow: hidden;
  -webkit-clip-path: inset(0.0625rem 0.0625rem 0.0625rem 0.0625rem);
          clip-path: inset(0.0625rem 0.0625rem 0.0625rem 0.0625rem);
  -webkit-clip-path: inset(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
          clip-path: inset(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
}

.skip-to-content.offscreen:focus {
  position: relative;
  display: inline-block;
  height: auto;
  width: auto;
  padding: 0.625em 1.25em;
  background-color: #44B273;
  color: #fff;
  overflow: visible;
  -webkit-clip-path: none;
          clip-path: none;
  text-decoration: none;
}

.text h1,
.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
  font-weight: 500;
  letter-spacing: 0.10313rem;
  line-height: 1.2;
}
.text h1 {
  margin-bottom: 0.625rem;
  font-size: 2.8125rem;
}
@media (min-width: 960px) {
  .text h1 {
    margin-bottom: 1.25rem;
    font-size: calc(1.46875rem + 2.625vw);
  }
}
@media (min-width: 960px) and (min-width: 1200px) {
  .text h1 {
    font-size: 3.4375rem;
  }
}
.text h2 {
  font-size: 2.1875rem;
  line-height: 1.2;
  letter-spacing: 0.06563rem;
}
@media (min-width: 640px) {
  .text h2 {
    font-size: calc(1.375rem + 1.5vw);
  }
}
@media (min-width: 640px) and (min-width: 1200px) {
  .text h2 {
    font-size: 2.5rem;
  }
}
.text figure {
  margin-bottom: 0.625rem;
}
@media (min-width: 960px) {
  .text figure {
    margin-bottom: calc(1.475rem + 2.7vw);
  }
}
@media (min-width: 960px) and (min-width: 1200px) {
  .text figure {
    margin-bottom: 3.5rem;
  }
}
.text a {
  color: #086de0;
  text-decoration: none;
}
.text a:hover {
  color: #0655af;
}
.text a.button_style_important > *{
	/* added by fgp */
	--orig-margin-top: initial;
}
.text a.button_style_important {
	--fgp-margin-top: initial;
	--orig-margin-top: calc(1.3rem + 0.6vw);
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	margin-bottom: calc(1.3125rem + 0.75vw);
	color: #fff;
}
@media (min-width: 1200px) {
  .text a.button_style_important > *{
	/* added by fgp */
	--orig-margin-top: initial;
	}
  .text a.button_style_important {
	--fgp-margin-top: initial;
	--orig-margin-top: 1.75rem;
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
  }
}
@media (min-width: 1200px) {
  .text a.button_style_important {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 960px) {
  .text a.button_style_important > *{
	/* added by fgp */
	--orig-margin-top: initial;
	}
  .text a.button_style_important {
	--fgp-margin-top: initial;
	--orig-margin-top: calc(1.3rem + 0.6vw);
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	margin-bottom: 1.25rem;
  }
}
@media (min-width: 960px) and (min-width: 1200px) {
  .text a.button_style_important > *{
	/* added by fgp */
	--orig-margin-top: initial;
	}
  .text a.button_style_important {
	--fgp-margin-top: initial;
	--orig-margin-top: 1.75rem;
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
  }
}
.text p > *{
	/* added by fgp */
	--orig-margin-top: initial;
}
.text p {
	color: rgba(18, 18, 18, 0.7);
	--fgp-margin-top: initial;
	--orig-margin-top: calc(1.3rem + 0.6vw);
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	margin-bottom: 0.9375rem;
	font-weight: normal;
	font-size: 1.125rem;
}
@media (min-width: 1200px) {
  .text p > *{
	/* added by fgp */
	--orig-margin-top: initial;
	}
  .text p {
	--fgp-margin-top: initial;
	--orig-margin-top: 1.75rem;
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
  }
}
@media (min-width: 960px) {
  .text p > *{
	/* added by fgp */
	--orig-margin-top: initial;
	}
  .text p {
	--fgp-margin-top: initial;
	--orig-margin-top: 1.125rem;
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	margin-bottom: 1.125rem;
	font-size: 1.125rem;
  }
}
.text p:last-of-type, .text p:last-child {
  margin-bottom: 0;
}
@media (min-width: 960px) {
  .text p:last-of-type, .text p:last-child {
    margin-bottom: 0;
  }
}
.text b,
.text strong {
  font-weight: 600;
}
.text em {
  font-style: italic;
}

/* Common styles for current project */
html,
body {
  height: 100%;
}

.page {
  position: relative;
  color: #000;
  font-display: swap;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
}
.page__wrapper > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}
.page__wrapper > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}
.page__wrapper{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}
.page__wrapper {
	position: relative;
	padding-top: 7.375rem;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	overflow: hidden;
}

.page_nav_open {
  overflow-y: hidden;
}
.page_nav_open .header__logo {
  z-index: 2;
}
.page_nav_open .nav_primary {
  z-index: 1;
  position: absolute;
  top: 0;
  right: -1.875rem;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.page_nav_open .nav__trigger {
  z-index: 2;
  position: absolute;
  top: 4.1875rem;
  right: 1.875rem;
}
.page_nav_open .nav__list > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}
.page_nav_open .nav__list > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}
.page_nav_open .nav__list{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}
.page_nav_open .nav__list {
	padding-top: 5.625rem;
	padding-left: 1.875rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.page_nav_open .nav__link {
  padding-left: 1.5rem;
  padding-top: 1.1875rem;
  padding-bottom: 1.1875rem;
}

.container > *{
	/* added by fgp */
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 0.9375rem;
	padding-left: 0.9375rem;
	width: 100%;
	min-width: 20rem;
	max-width: 100%;
}
@media (min-width: 1200px) {
  .container {
    padding-right: 1.875rem;
    padding-left: 1.875rem;
    max-width: 108.75rem;
  }
}

.main {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

img.lazy,
img.lazyloaded {
  max-width: 100%;
  height: auto;
}
img.lazy.lazy,
img.lazyloaded.lazy {
  opacity: 0;
}
img.lazy:not(.initial),
img.lazyloaded:not(.initial) {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
img.lazy.initial, img.lazy.loaded, img.lazy.error,
img.lazyloaded.initial,
img.lazyloaded.loaded,
img.lazyloaded.error {
  opacity: 1;
}

img.lazy:not([src]):not([srcset]) {
  visibility: hidden;
}

a {
  color: currentColor;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
a:hover {
  color: currentColor;
  text-decoration: none;
}

/* Plugins, which is used in current project. */
/* Components, which is used in current project. */
.header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7.375rem;
  background: #ffffff;
  -webkit-box-shadow: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.1);
}
.header__container > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}
.header__container > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}
.header__container{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}
.header__container {
	padding-top: 1.625rem;
	padding-bottom: 1.5625rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (min-width: 640px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__logo {
  z-index: 1;
  position: relative;
  max-width: 7.375rem;
  width: 100%;
  display: block;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
@media (min-width: 960px) {
  .header__logo > *{
	/* added by fgp */
	--orig-margin-left: initial;
	}
  .header__logo {
	--fgp-margin-left: initial;
	--orig-margin-left: 2.0625rem;
	margin-left: var(--fgp-margin-left, var(--orig-margin-left));
  }
}
.header__nav {
  z-index: 1;
  position: relative;
}
.header__button {
  height: 4.1875rem;
}
.header__nav-appearance {
  -webkit-animation: fadeInRight 0.3s ease-in-out;
          animation: fadeInRight 0.3s ease-in-out;
}

.header__nav-disappear {
  -webkit-animation: fadeOutRight 0.3s ease-in-out;
          animation: fadeOutRight 0.3s ease-in-out;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}
.nav > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}
.nav > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}
.nav{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}
.nav {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
}
.nav_primary > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}
.nav_primary > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}
.nav_primary{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}
.nav_primary {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.nav__trigger > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}
.nav__trigger > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}
.nav__trigger{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}
.nav__trigger {
	border: none;
	background-color: transparent;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 2.875rem;
	height: 2.875rem;
}
@media (min-width: 640px) {
  .nav__trigger {
    display: none;
  }
}
@media (min-width: 960px) {
  .nav__trigger {
    display: none;
  }
}
.nav__trigger_open .nav__close-icon {
  display: block;
}
.nav__trigger_open .nav__menu-icon {
  display: none;
}
.nav__close-icon {
  display: none;
}
.nav__list {
  max-width: 100%;
  width: 100%;
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 640px) {
  .nav__list > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
	}
  .nav__list > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
	}
  .nav__list{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
	}
  .nav__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  }
}
.nav__item > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}
.nav__item > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}
.nav__item{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}
.nav__item {
	position: relative;
	width: 100%;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}
@media (min-width: 640px) {
  .nav__item {
    width: auto;
  }
}
.nav__item.current-menu-item {
  border: solid 0.125rem rgba(0, 0, 0, 0.7);
  border-width: 0.125rem 0 0.125rem 0.125rem;
}
.nav__item.current-menu-item .nav__link {
  font-weight: 600;
}
.nav__link > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}
.nav__link > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}
.nav__link{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}
.nav__link {
	padding-right: 1.5625rem;
	padding-left: 1.5625rem;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	color: rgba(0, 0, 0, 0.7);
	font-size: 1.125rem;
	white-space: nowrap;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}
@media (min-width: 960px) {
  .nav__link {
    font-size: 1.125rem;
  }
}
.nav__link:hover {
  color: #121212;
}
.nav__button {
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.nav_open {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1.25rem;
  height: 100vh;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f3f4f5;
}
.nav_open .nav__trigger > *{
	/* added by fgp */
}
.nav_open .nav__trigger {
	margin-left: auto;
	margin-right: 1.875rem;
}
.nav_open .nav__list > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}
.nav_open .nav__list > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}
.nav_open .nav__list{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}
.nav_open .nav__list {
	width: auto;
	padding: 1.25rem 2.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	border-radius: 0.3125rem;
}
.nav_open .nav__controls {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  display: block;
}
.nav_open .nav__item_last {
  margin-bottom: 1.875rem;
}
.nav_open .nav__item_mob {
  display: block;
}
.nav_open .nav__item_mob:last-child .nav__link {
  padding-top: 0.625rem;
}
.nav_open .nav__item_mob .nav__link {
  padding-left: 1.5rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.8125rem;
}

.hero__container > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}

.hero__container > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}

.hero__container{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}

.hero__container {
	position: relative;
	margin-bottom: 4.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.hero__video {
  position: absolute;
  top: 0;
  left: 1.875rem;
  right: 1.875rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.875rem;
  overflow: hidden;
}
.hero__video-button {
  border: none;
  background-color: transparent;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 23.625rem;
  height: 23.625rem;
  color: rgba(255, 255, 255, 0.1);
  fill: transparent;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.hero__video-button:hover {
  z-index: 2;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.hero__video-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero__entry > *{
	/* added by fgp */
	--orig-margin-top: initial;
	--orig-margin-left: initial;
}
.hero__entry {
	z-index: 1;
	--fgp-margin-top: initial;
	--orig-margin-top: 11.25rem;
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	margin-right: 8.75rem;
	margin-bottom: 11.25rem;
	--fgp-margin-left: initial;
	--orig-margin-left: 8.75rem;
	margin-left: var(--fgp-margin-left, var(--orig-margin-left));
	max-width: 44.25rem;
	width: 100%;
	-ms-flex-negative: 1;
	    flex-shrink: 1;
	text-align: left;
}
.hero__title {
  margin-bottom: 4rem;
  color: #ffffff;
}
.hero__text {
  margin-bottom: 4rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: left;
}
.hero__button {
  padding-right: 3.375rem;
  padding-left: 3.375rem;
}
.about__container > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}
.about__container > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}
.about__container{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}
.about__container {
	padding-top: 4.5rem;
	padding-bottom: 4.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.about__entry {
  padding-right: 1.5rem;
  max-width: 50%;
  width: 100%;
}
.about__title {
  margin-bottom: 1.5rem;
}
.about__subtitle {
  margin-bottom: 4rem;
}
.about__image {
  border: 0.9375rem solid rgba(0, 0, 0, 0.05);
  max-width: 50%;
  width: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  font-size: 0;
  border-radius: 2.6875rem;
}
.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}

.modal > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}

.modal{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}

.modal {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.modal.modal_open {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}
.modal__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
.modal__container > *{
	/* added by fgp */
	--orig-margin-left: initial;
}
.modal__container {
	position: relative;
	--fgp-margin-left: initial;
	--orig-margin-left: 1.5rem;
	margin-left: var(--fgp-margin-left, var(--orig-margin-left));
	margin-right: 1.5rem;
	padding: 1.25rem 1.875rem 1.25rem 1.875rem;
	max-width: 34.4375rem;
	width: 100%;
	background-color: #fff;
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	-webkit-box-shadow: 0 0.25rem 0.1875rem 0 rgba(0, 0, 0, 0.09);
	        box-shadow: 0 0.25rem 0.1875rem 0 rgba(0, 0, 0, 0.09);
	border-radius: 0.9375rem;
}
@media (min-width: 640px) {
  .modal__container {
    padding: 2.9375rem 5.625rem 3.8125rem 5.6875rem;
  }
}
.modal__title {
  margin-bottom: 3.28125rem;
  font-size: 1.5625rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
}
@media (min-width: 640px) {
  .modal__title {
    margin-bottom: 5rem;
  }
}
.modal .modal__note {
  color: #898989;
  font-size: 0.8125rem;
  line-height: 1.69;
  text-align: center;
}
@media (min-width: 640px) {
  .modal .modal__note > *{
	/* added by fgp */
	--orig-margin-top: initial;
	}
  .modal .modal__note {
	--fgp-margin-top: initial;
	--orig-margin-top: 1.0625rem;
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	padding-right: 1.25rem;
	padding-left: 1.25rem;
  }
}
.modal .modal__note a {
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.modal .modal__note a:hover {
  color: #4d4d4d;
  text-decoration: underline;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.modal__close {
  position: absolute;
  right: 0.9375rem;
  top: 0.9375rem;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: red;
  background: none;
  border: 0;
  font-weight: bold;
  cursor: pointer;
}
@media (min-width: 640px) {
  .modal__close {
    right: 1.875rem;
    top: 1.875rem;
  }
}
.form {
  position: relative;
  padding-bottom: 1.875rem;
  text-align: center;
}
.form__field > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}
.form__field > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}
.form__field{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}
.form__field {
	position: relative;
	margin-bottom: 4.8125rem;
	margin-bottom: 3.125rem;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
.form__field:last-child {
  margin-bottom: 0;
}
.form__field .just-validate-error-label {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 0.75rem;
}
@media (min-width: 960px) {
  .form__field .just-validate-error-label {
    font-size: 0.8125rem;
  }
}
.form__input > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}
.form__input > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}
.form__input{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}
.form__input {
	border: none;
	background-color: transparent;
	border-bottom: solid 0.0625rem rgba(0, 0, 0, 0.4);
	padding-top: 0.875rem;
	padding-bottom: 0.875rem;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0.9375rem;
	letter-spacing: 0.02813rem;
	text-align: left;
	color: #000;
	caret-color: #000;
}
.form__input::-webkit-input-placeholder {
  color: #797772;
  letter-spacing: 0.02813rem;
  caret-color: #797772;
}
.form__input::-moz-placeholder {
  color: #797772;
  letter-spacing: 0.02813rem;
  caret-color: #797772;
}
.form__input:-ms-input-placeholder {
  color: #797772;
  letter-spacing: 0.02813rem;
  caret-color: #797772;
}
.form__input::-ms-input-placeholder {
  color: #797772;
  letter-spacing: 0.02813rem;
  caret-color: #797772;
}
.form__input::placeholder {
  color: #797772;
  letter-spacing: 0.02813rem;
  caret-color: #797772;
}
.form__input:-moz-placeholder-shown {
  border-bottom: solid 0.0625rem rgba(0, 0, 0, 0.4);
}
.form__input:-ms-input-placeholder {
  border-bottom: solid 0.0625rem rgba(0, 0, 0, 0.4);
}
.form__input:placeholder-shown {
  border-bottom: solid 0.0625rem rgba(0, 0, 0, 0.4);
}
.form__input:focus, .form__input:focus-within {
  -webkit-box-shadow: 0 0.25rem 0.1875rem 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 0.25rem 0.1875rem 0 rgba(0, 0, 0, 0.09);
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.5);
}
.form__input.just-validate-error-field {
  border-bottom: 0.0625rem solid red;
}
.form__input.just-validate-error-field::-webkit-input-placeholder {
  color: red;
}
.form__input.just-validate-error-field::-moz-placeholder {
  color: red;
}
.form__input.just-validate-error-field:-ms-input-placeholder {
  color: red;
}
.form__input.just-validate-error-field::-ms-input-placeholder {
  color: red;
}
.form__input.just-validate-error-field::placeholder {
  color: red;
}
.form .form__submit > *{
	/* added by fgp */
}
.form .form__submit {
	margin-right: auto;
	margin-left: auto;
	padding-top: 1.25rem;
	padding-right: 3.125rem;
	padding-bottom: 1.25rem;
	padding-left: 3.125rem;
	max-width: 15.625rem;
	height: 3.625rem;
	width: auto;
	background-color: #ff4848;
	font-size: 0.9375rem;
	letter-spacing: 0.02813rem;
}
@media (min-width: 640px) {
  .form .form__submit > *{
	/* added by fgp */
	--orig-margin-top: initial;
	}
  .form .form__submit {
	--fgp-margin-top: initial;
	--orig-margin-top: 3.75rem;
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
  }
}
.form .form__submit:hover {
  background-color: transparent;
  color: #000;
}
.form__send-message > *{
	/* added by fgp */
	--orig-margin-top: initial;
}
.form__send-message {
	--fgp-margin-top: initial;
	--orig-margin-top: 1.25rem;
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	font-size: 0.75rem;
	font-weight: normal;
	line-height: 1.5;
}
@media (min-width: 960px) {
  .form__send-message {
    font-size: 0.875rem;
  }
}
.form .wpcf7-spinner {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer {
  background-color: #f5faff;
}
.footer__container > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}
.footer__container > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}
.footer__container{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}
.footer__container {
	padding-top: 4.375rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
@media (min-width: 640px) {
  .footer__container {
    padding-top: 5.5rem;
  }
}
.footer__top > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}
.footer__top > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}
.footer__top{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}
.footer__top {
	position: relative;
	padding-bottom: 11.25rem;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
@media (min-width: 640px) {
  .footer__top {
    padding-bottom: 6.375rem;
  }
}
@media (min-width: 960px) {
  .footer__top {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.footer__col {
  width: 100%;
}
.footer__col_first > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}
.footer__col_first > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}
.footer__col_first{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}
.footer__col_first {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	min-height: calc(100% - 7.1875rem);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
@media (min-width: 640px) {
  .footer__col_first {
    position: static;
    width: 50%;
    display: block;
  }
}
@media (min-width: 960px) {
  .footer__col_first {
    max-width: 27rem;
  }
}
.footer__col_nav > *{
	/* added by fgp */
	--orig-margin-top: initial;
}
.footer__col_nav {
	--fgp-margin-top: initial;
	--orig-margin-top: 9.375rem;
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
}
@media (min-width: 640px) {
  .footer__col_nav > *{
	/* added by fgp */
	--orig-margin-top: initial;
	}
  .footer__col_nav {
	--fgp-margin-top: initial;
	--orig-margin-top: 0px;
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	width: 50%;
  }
}
@media (min-width: 960px) {
  .footer__col_nav {
    max-width: 30rem;
  }
}
.footer__col_social {
  max-width: 15.125rem;
  display: none;
}
@media (min-width: 960px) {
  .footer__col_social {
    display: block;
  }
}
.footer__col_last > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}
.footer__col_last > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}
.footer__col_last{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}
.footer__col_last {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: calc(100% - 2.1875rem);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
@media (min-width: 640px) {
  .footer__col_last > *{
	/* added by fgp */
	--orig-margin-top: initial;
	}
  .footer__col_last {
	position: static;
	--fgp-margin-top: initial;
	--orig-margin-top: 3.75rem;
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
  }
}
@media (min-width: 960px) {
  .footer__col_last > *{
	/* added by fgp */
	--orig-margin-top: initial;
	}
  .footer__col_last {
	--fgp-margin-top: initial;
	--orig-margin-top: 0px;
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	max-width: 13.75rem;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
  }
}
.footer__logo {
  z-index: 1;
  position: relative;
  max-width: 6.125rem;
  width: 100%;
  display: block;
}
@media (min-width: 640px) {
  .footer__logo {
    margin-bottom: 3.625rem;
  }
}
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__phone > *{
	/* added by fgp */
}
.footer__phone {
	z-index: 1;
	position: relative;
	margin-top: auto;
}
@media (min-width: 640px) {
  .footer__phone > *{
	/* added by fgp */
	--orig-margin-top: initial;
	}
  .footer__phone {
	--fgp-margin-top: initial;
	--orig-margin-top: 0px;
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
  }
}
.footer__button > *{
	/* added by fgp */
}
.footer__button {
	margin-top: auto;
	padding-right: 4rem;
	padding-left: 4rem;
}
@media (min-width: 640px) {
  .footer__button > *{
	/* added by fgp */
	--orig-margin-top: initial;
	}
  .footer__button {
	--fgp-margin-top: initial;
	--orig-margin-top: 0px;
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
  }
}
@media (min-width: 960px) {
  .footer__button > *{
	/* added by fgp */
	--orig-margin-top: initial;
	}
  .footer__button {
	--fgp-margin-top: initial;
	--orig-margin-top: 3.5rem;
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
  }
}
.footer__bottom > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
}
.footer__bottom > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
}
.footer__bottom{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
}
.footer__bottom {
	position: relative;
	padding-top: 2.125rem;
	padding-bottom: 2.125rem;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: rgba(0, 0, 0, 0.62);
	font-size: 0.75rem;
	line-height: normal;
	letter-spacing: 0.0225rem;
	text-align: center;
}
.footer__bottom:after {
  position: absolute;
  top: 0;
  left: -125rem;
  right: -125rem;
  content: "";
  height: 0.0625rem;
  background-color: rgba(0, 0, 0, 0.12);
}
.footer__copyright > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	--orig-margin-top: initial;
	pointer-events: var(--parent-has-fgp) auto;
	--fgp-parent-gap-row: 0px;
	--fgp-margin-top: var(--parent-has-fgp) calc(var(--fgp-gap-row) + var(--orig-margin-top, 0px));
	margin-top: var(--fgp-margin-top);
	--fgp-parent-gap-column: 0.5rem;
	--fgp-margin-left: var(--parent-has-fgp) calc(var(--fgp-gap-column) + var(--orig-margin-left, 0px));
	margin-left: var(--fgp-margin-left);
}
.footer__copyright > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
	--fgp-parent-gap-row: initial;
	--fgp-parent-gap-column: initial;
}
.footer__copyright{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
	--fgp-gap-row: 0px;
	--fgp-margin-top: var(--has-fgp) calc(var(--fgp-parent-gap-row, 0px) / (1 + var(--fgp--parent-gap-as-decimal, 0)) - var(--fgp-gap-row) + var(--orig-margin-top, 0px)) !important;
	--fgp-gap-column: 0.5rem;
	--fgp-margin-left: var(--has-fgp) calc(var(--fgp-parent-gap-column, 0px) / (1 + var(--fgp--parent-gap-as-decimal, 0)) - var(--fgp-gap-column) + var(--orig-margin-left, 0px)) !important;
}
.footer__copyright {
	--fgp-margin-top: initial;
	--orig-margin-top: 1.6875rem;
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	--fgp-gap: var(--has-fgp, 0 0.5rem);
	gap: var(--fgp-gap, 0px);
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	margin-left: var(--fgp-margin-left, var(--orig-margin-left));
}
@media (min-width: 640px) {
  .footer__copyright > * > *{
	/* added by fgp */
	--fgp-parent-gap-row: initial;
	--fgp-parent-gap-column: initial;
	}
  .footer__copyright > *{
	/* added by fgp */
	pointer-events: var(--parent-has-fgp) auto;
	--fgp-parent-gap-row: 0px;
	--fgp-margin-top: var(--parent-has-fgp) calc(var(--fgp-gap-row) + var(--orig-margin-top, 0px));
	margin-top: var(--fgp-margin-top);
	--fgp-parent-gap-column: 1.375rem;
	--fgp-margin-left: var(--parent-has-fgp) calc(var(--fgp-gap-column) + var(--orig-margin-left, 0px));
	margin-left: var(--fgp-margin-left);
	}
  .footer__copyright{
	/* added by fgp */
	pointer-events: var(--has-fgp) none;
	--fgp-gap-row: 0px;
	--fgp-margin-top: var(--has-fgp) calc(var(--fgp-parent-gap-row, 0px) / (1 + var(--fgp--parent-gap-as-decimal, 0)) - var(--fgp-gap-row) + var(--orig-margin-top, 0px)) !important;
	--fgp-gap-column: 1.375rem;
	--fgp-margin-left: var(--has-fgp) calc(var(--fgp-parent-gap-column, 0px) / (1 + var(--fgp--parent-gap-as-decimal, 0)) - var(--fgp-gap-column) + var(--orig-margin-left, 0px)) !important;
	}
  .footer__copyright {
	--fgp-gap: var(--has-fgp, 0 1.375rem);
	gap: var(--fgp-gap, 0px);
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	margin-left: var(--fgp-margin-left, var(--orig-margin-left));
  }
}

/* Additional style files. */