@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../fonts/hinted-subset-Inter-Regular.woff2') format('woff2'),
        url('../fonts/hinted-subset-Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter SemiBold'), local('Inter-SemiBold'),
        url('../fonts/hinted-subset-Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/hinted-subset-Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter ExtraBold'), local('Inter-ExtraBold'),
        url('../fonts/hinted-subset-Inter-ExtraBold.woff2') format('woff2'),
        url('../fonts/hinted-subset-Inter-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Medium'), local('Inter-Medium'),
        url('../fonts/hinted-subset-Inter-Medium.woff2') format('woff2'),
        url('../fonts/hinted-subset-Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Bold'), local('Inter-Bold'),
        url('../fonts/hinted-subset-Inter-Bold.woff2') format('woff2'),
        url('../fonts/hinted-subset-Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Thin Regular'), local('MontserratThin-Regular'),
      url('../fonts/hinted-subset-MontserratThin-Regular.woff2') format('woff2'),
      url('../fonts/hinted-subset-MontserratThin-Regular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

$inter: 'Inter', Helvetica, Arial, sans-serif;
$montserrat: 'Montserrat', Helvetica, Arial, sans-serif;
