// File for scss-vars.

$title-margin: 35px;

$mb-1: 64px;

$sp-d: 72px;

$small: 640px;
$medium: 960px;
$large: 1200px;
$xlarge: 1440px;

$color-white: #ffffff;
$color-black: #121212;
$color-green: #44B273;
$color-orange: #EAAA40;
$color-text: rgba(18, 18, 18, 0.7);

// :root {
//   --white: #{$white};
//   --blue: #{$blue};
//   --black: #{$black};
//   --dark: #{$dark};
//   --nav-link-color: #{$nav-link-color};
//   --gray: #{$gray};
// }
