// File for scss-vars.

$mb-1: 64px;
$mb-2: 60px;
$mb-3: 45px;
$mb-4: 32px;

$sp-d: 70px;
$sp-s: 40px;
$sp-m: 32px;

$xsmall: 376px;
$small: 641px;
$medium: 961px;
$large: 1201px;
$xlarge: 1441px;

$color-white: #ffffff;
$color-black: #121212;
$color-green: #44B273;
$color-orange: #EAAA40;
$color-red: #EB5757;
$color-gray: #F9F9F9;
$color-text: rgba(18, 18, 18, 0.7);

// :root {
//   --white: #{$white};
//   --blue: #{$blue};
//   --black: #{$black};
//   --dark: #{$dark};
//   --nav-link-color: #{$nav-link-color};
//   --gray: #{$gray};
// }
