.about {

  &__container {
    padding-top: $sp-d;
    padding-bottom: $sp-d;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__entry {
    padding-right: 24px;
    max-width: 50%;
    width: 100%;

  }

  &__title {
    margin-bottom: 24px;
  }

  &__subtitle {
    margin-bottom: $mb-1;

  }

  &__text {
    margin-bottom: $mb-1;

  }

  &__image {
    border: 15px solid rgba(0, 0, 0, 0.05);
    max-width: 50%;
    width: 100%;
    flex-shrink: 1;
    font-size: 0;
    border-radius: 43px;
    img {
    }
  }
}
